<!--<div class="banner">
<%= image_tag "cinema.jpg", height: 150, width: 1500 %>
 </div>-->
<div class="banner"  >

    <p> Quel film ce soir ?</p>
 </div>

<img src="https://cdn.pixabay.com/photo/2018/09/04/10/15/theater-3653366_1280.jpg" class=background-image alt="Un rideau">







<div class="container">
    <h1 class="text-center">Toutes mes listes</h1>


      <ul>
        <% @lists.each do |list| %>
        <li><%= link_to list.name, list_path(list) %></li>
         <% end %>
      </ul>
        <%= link_to "Add a list", new_list_path(@list), class: "btn btn-success" %>
</div>
