.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: rgb(245, 240, 240);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    padding-top: 4rem;
    font-size: 60px;
    color: #5e1034;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
