.banner {
  height: 200px;
  background-image: url(https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_1280.jpg);
  background-size: cover;
  background-position: center;





  
  p {

    width: 860px;
    padding: 4rem;
    font-size: 80%;
    color: #5e1034;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
