.container{
  width: 100% !important;
  margin: auto;
  background-image: url(https://cdn.pixabay.com/photo/2018/09/04/10/15/theater-3653366_1280.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  .container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 300px;
  }
}
